.anvil-role-container-800 {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.anvil-role-container-600 {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.anvil-role-container-500 {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.anvil-role-container-400 {
  max-width: 400px;
  width: 100%
  margin: auto;
}
.anvil-role-content-card {
  width: 100%;
  max-width: 870px;
  margin: 16px auto;
}

table {
  font-size: 105%;
}

hr {
  border: none;
  border-top: 1px solid blue;
}

/* top/bottom left/right */
td, th {
  padding: 2px 6px;
}

/* Border under header row of tables */
table {
  border-collapse: collapse; /* ensures borders align cleanly */
}

thead th {
  border-bottom: 1px solid #999;
}

/* For a numeric table where labels are in first column, numbers is rest */
.numeric-table td,
.numeric-table th {
  text-align: right;
}

.numeric-table td:first-child,
.numeric-table th:first-child {
  text-align: left;
}

/* Totals row in a table */
tr.totals td {
  border-top: 1px solid #999;
}

tr.totals > :first-child {
  font-weight: bold;
}

.striped tbody tr:nth-child(even) {
  background-color: #ffffff;
}
